{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro de atendimentos</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="menu">
        <h1 class="h1">Sistema de chamados da FC Solutions</h1>        
    </div>
    <h3>Registrar atendimento em um chamado</h3><br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" >Registrar</button>
    </form>
    <form action="/">
        <button class="botton">Pagina inicial</button> 
    </form>
</body>
</html>