{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Atendimento cadastrado</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="menu">
        <h1 class="h1">Sistema de chamados da FC Solutions</h1>        
    </div>
    <h3>Obrigado!</h3>
    <h2>Atendimento registrado com sucesso!</h2>
    <a href="/atendimento"><p>Novo atendimento</p></a>
    <a href="/"><p>Vizualizar chamados</p></a>
</body>
</html>