<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Atendimento cadastrado</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='estilo.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Obrigado!</h1>
    <h2>Atendimento registrado com sucesso!</h2>
    <a href="/atendimento"><p>Novo atendimento</p></a>
    <a href="/"><p>Vizualizar chamados</p></a>
</body>
</html>